<html>
  <head>
    <title>Sala Inexistente</title>
    <script>
      confirm("A sala que você tentou acessar não existe, insira uma sala existente ou crie uma nova sala!")
      window.location.replace("/")
    </script>
  </head>
</html>